body {
    margin: 0;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    background-color: black;
    overflow: hidden;
}

.background-image {
    position: relative;
    background-size: contain; /* Ajusta el tamaño de la imagen de fondo para que se ajuste dentro del contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 80vw; /* Ancho del contenedor de la imagen de fondo */
    height: 80vh; /* Altura del contenedor de la imagen de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background-image 0.3s ease-in-out;
}

.header {
    position: absolute;
    top: 20px;
    z-index: 10;
    text-align: center;
}

.comic-title {
    font-size: 50px; /* Tamaño de fuente reducido */
    color: white;
    margin: 0;
}

.comic-subtitle {
    font-size: 28px; /* Tamaño de fuente reducido */
    color: fuchsia;
    margin: 0;
}

.button-container {
    margin-top: 15px; /* Ajusta el margen superior de los botones */
    display: flex;
    justify-content: center;
    gap: 10px; /* Ajusta el espacio entre los botones si es necesario */
    z-index: 10;
}

.square-button {
    width: 50px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0); /* Color de fondo de los botones no seleccionados */
    color: black; /* Color del texto de los botones no seleccionados */
    border: none;
    border-radius: 10px;
    font-size: 22px; /* Tamaño de fuente reducido */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para el botón seleccionado */
.square-button.selected {
    background-color: rgba(255, 255, 255, 0); /* Color de fondo para el botón seleccionado */
    color: white; /* Color del texto para el botón seleccionado */
}

.list {
    display: none; /* Oculta todas las listas por defecto */
    position: absolute;
    top: 400px; /* Ajusta la posición vertical para bajar la lista */
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para la lista */
    border-radius: 10px;
    padding: 5px; /* Reduce el padding de la lista */
    width: 150px; /* Ancho reducido de la lista */
    text-align: center; /* Centra el texto dentro de la lista */
    font-size: 14px; /* Tamaño de fuente reducido */
}

.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin: 3px 0; /* Reduce el margen entre los elementos de la lista */
}